<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>aml-pinode lifxctl</title>
    <link href="/lib/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/bootstrap-slider.min.css" rel="stylesheet">
    <link href="/lib/bootstrap-popover-x/bootstrap-popover-x.css" rel="stylesheet" >
    <link href="/lib/spectrum-61ad86c/spectrum.css" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <span class="glyphicon glyphicon-record header-status"></span>
            <span class="header-nodename">Nodename</span>
          </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a class="header-nodeip">0.0.0.0</a></li>
            <li><a class="header-brand" href="/lifx">lifxctl</a></li>
            <li class="active"><a class="menu-item" href="#">amlctl</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="nodes"></div>
    </div>


    <script src="/socket.io/socket.io.js"></script>
    <script src="/lib/jquery-1.11.3.min.js"></script>
    <script src="/lib/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script src="/lib/spectrum-61ad86c/spectrum.js"></script>
    <script src="/lib/ejs.min.js"></script>
    <script src="/amlctl.js"></script>


    <script id="item-tpl-pinode" type="text/template">
      <div class="liitemgw-item liitemgw" id="node-<%= item.id %>" nodeid="<%= item.id %>">
        <div class="row lamp lamp-title">
          <div class="col-md-1 icon itm-node">
            <span class="glyphicon glyphicon-record node-status <%= item.css %>"></span>
          </div>
          <div class="col-md-2 itm-node nodename"><%= item.nodename %></div>
          <div class="col-md-5 node-ctrl">
            <button class="btn btn-primary btn-enter" type="button">Enter</button>
            <button class="btn btn-primary btn-exit" type="button">Exit</button>
            <button class="btn btn-danger btn-stop" type="button">Stop</button>
          </div>
        </div>
      </div>
    </script>

  </body>
</html>
