
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">

    <title>aml-pinode</title>

    <link href="/lib/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/lib/bootstrap-slider.min.css" rel="stylesheet">
    <link href="/lib/bootstrap-popover-x/bootstrap-popover-x.css" rel="stylesheet" >
    <link href="/lib/spectrum-61ad86c/spectrum.css" rel="stylesheet">

    <link href="/style.css" rel="stylesheet">


  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="">aml-pinode</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#">Nodename</a></li>
            <li><a href="#">10.10.10.20</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">



      <button class="btn btn-success btn-onoff" type="button">Enabled</button>

      <!--<button class="btn btn-primary btn-save" type="button">
        Save <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
      </button>
      <button class="btn btn-primary btn-files" type="button" data-toggle="modal" data-target="#files">
        Files <span class="glyphicon glyphicon-upload" aria-hidden="true"></span>
      </button>!-->
      <button class="btn btn-danger btn-stopsketch" type="button" data-toggle="modal" data-target="#files">
        Stop everything <!--<span class="glyphicon glyphicon-upload" aria-hidden="true"></span>!-->
      </button>
      <button class="btn btn-primary btn-downloadsketch" type="button" data-toggle="modal" data-target="#files">
        Download Sketchfile <!--<span class="glyphicon glyphicon-upload" aria-hidden="true"></span>!-->
      </button>
      <div class="tabarea">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#enter" aria-controls="enter" role="tab" data-toggle="tab">Enter Room</a></li>
          <li role="presentation"><a href="#exit" aria-controls="exit" role="tab" data-toggle="tab">Exit Room</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="enter">
            <div class="bg-tab">
              <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  New Item <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#" class="new-item-enter new-item-lifx">LIFX</a></li>
                  <li><a href="#" class="new-item-enter new-item-audio">Audio</a></li>
                  <li><a href="#" class="new-item-enter new-item-video">Video</a></li>
                  <li><a href="#" class="new-item-enter new-item-dmx">DMX</a></li>
                  <li><a href="#" class="new-item-enter new-item-delay">Delay</a></li>
                  <li><a href="#" class="new-item-enter new-item-script">Script</a></li>
                </ul>
              </div>
              <button class="btn btn-primary test-enter" type="button">Test</button>
            </div>
            <div class="dragarea-enter">
              <ul class="list-group drag-ul-enter">
              </ul>
            </div>
          </div>


          <div role="tabpanel" class="tab-pane" id="exit">
            <div class="bg-tab">
              <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  New Item <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#" class="new-item-exit new-item-lifx">LIFX</a></li>
                  <li><a href="#" class="new-item-exit new-item-audio">Audio</a></li>
                  <li><a href="#" class="new-item-exit new-item-video">Video</a></li>
                  <li><a href="#" class="new-item-exit new-item-dmx">DMX</a></li>
                  <li><a href="#" class="new-item-exit new-item-delay">Delay</a></li>
                  <li><a href="#" class="new-item-exit new-item-script">Script</a></li>
                </ul>
              </div>
              <button class="btn btn-primary test-exit" type="button">Test</button>
            </div>
            <div class="dragarea-exit">
              <ul class="list-group drag-ul-exit">
              </ul>
            </div>
          </div>

        </div>
      </div>




    </div><!-- /.container -->


    <!-- lifx color choose modal !-->
    <div class="modal fade modal-lifx-color" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="modal-lifx-color" >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Choose Lamp Color</h4>
            <input type="checkbox" id="lifx-color-cb-live" checked="true">
            <label for="lifx-color-cb-live">Preview on Lamp</label><br />
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-2 bar-title">Hue</div>
              <div class="col-md-10">
                <input class="bar bar-color range-h modal-lifx-color-h" type="range" value="0" type="range" value="0" min="0" max="360" step="1" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 bar-title">Saturation</div>
              <div class="col-md-10">
                <input class="bar bar-color range-s modal-lifx-color-s" type="range" value="0" min="0" max="1" step="0.01"/>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 bar-title">Lightness</div>
              <div class="col-md-10">
                <input class="bar bar-color range-l modal-lifx-color-l" type="range" value="0" type="range" value="0" min="0" max="1" step="0.01" />
              </div>
            </div>
            <div class="row item-inline-form-bottom">
              <div class="col-md-2 bar-title">White</div>
              <div class="col-md-10">
                <input class="bar bar-color range-w modal-lifx-color-w" type="range" value="0" type="range" value="0" min="0" max="0.1" step="0.001" />
              </div>
            </div>
            <div class="row">
              <div class="col-md-2 bar-title">Color</div>
              <div class="col-md-10">
                <input type='text' id="spectrum-color" />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- modal for file explorer !-->
    <div class="modal fade modal-dmx-value" tabindex="-1" role="dialog" aria-labelledby="fileslabel" id="modal-dmx-value" >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Select DMX Value</h4>
          </div>
          <div class="modal-body">
            <input class="bar bar-dmx modal-dmx-value-val" type="range" value="0" type="range" value="0" min="0" max="254" step="1" />
          </div>
        </div>
      </div>
    </div>


    <script src="/lib/jquery-1.11.3.min.js"></script>
    <script src="/lib/jquery.color.js"></script>

    <script src="/lib/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script src="/lib/sortable-1.2.1.min.js"></script>
    <script src="/lib/spectrum-61ad86c/spectrum.js"></script>
    <script src="/lib/ejs.min.js"></script>
    <script src="/client.js"></script>


    <!-- templates for ejs !-->
    <script id="item-tpl-lifx" type="text/template">
      <li class="list-group-item item-lifx">
        <h4 class="list-group-item-heading">
          LIFX
          <input type="text" class="item-desc" value="<%= name %>">
          <div class="item-menu">
            <button type="button" class="btn btn-danger btn-xs item-delete" title="Delete Item">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-primary btn-xs item-test-single" title="Test single Item">
              <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-primary btn-xs item-sort-icon" title="move up or down">
              <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
            </button>

          </div>
        </h4>
        <div class="form-group">
          <label>Lamp</label>
          <select class="form-control item-inline-form-bottom lifx-bulb">
            <% for(var i=0; i<lamps.length; i++) { %>
              <% if(lamps[i].id == bulb){ %>
                <option value="<%= lamps[i].id %>" selected="selected"><%= lamps[i].name %></option>
              <% } else { %>
                <option value="<%= lamps[i].id %>"><%= lamps[i].name %></option>
              <% } %>
            <% } %>
          </select>
          <form class="form-inline item-inline-form-bottom">
              <div class="form-group">
                <label>H</label>
                <input type="number" class="form-control inline-small lifx-h" min="0" max="360" value="<%= h %>">
              </div>
              <div class="form-group">
                <label>S</label>
                <input type="number" class="form-control inline-small lifx-s" min="0" max="1" value="<%= s %>">
              </div>
              <div class="form-group">
                <label>L</label>
                <input type="number" class="form-control inline-small lifx-l" min="0" max="1" value="<%= l %>">
              </div>
              <div class="form-group">
                <label>W</label>
                <input type="number" class="form-control inline-small lifx-w" min="0" max="1" value="<%= w %>">
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-primary lifx-colorsel">choose Color</button>
              </div>
              <div class="form-group">
                <label>Duration (ms)</label>
                <input type="number" class="form-control lifx-t" value="<%= t %>">
              </div>
          </form>
          <label class="item-inline-form">
            <% if(blocking){ %>
              <input type="checkbox" class="blocking" checked="checked" >
            <% } else { %>
              <input type="checkbox" class="blocking">
            <% } %>
            blocking
          </label>
        </div>
      </li>
    </script>

    <script id="item-tpl-dmx" type="text/template">
      <li class="list-group-item item-dmx">
        <h4 class="list-group-item-heading">
          DMX
          <input type="text" class="item-desc" value="<%= name %>">
          <div class="item-menu">
            <button type="button" class="btn btn-danger btn-xs item-delete" title="Delete Item">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-primary btn-xs item-test-single" title="Test single Item">
              <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-primary btn-xs item-sort-icon" title="move up or down">
              <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
            </button>
          </div>
        </h4>
        <form class="form-inline item-inline-form-bottom">
          <div class="form-group">
            <label>Channel</label>
            <input type="number" class="form-control dmx-channel" min="0" max="512" value="<%= channel %>">
          </div>
          <div class="form-group">
            <label>Start Value</label>
            <input type="number" class="form-control dmx-start" min="0" max="255" value="<%= start %>">
          </div>
          <div class="form-group">
            <label>Final Value</label>
            <input type="number" class="form-control dmx-end" min="0" max="255" value="<%= end %>">
          </div>
          <div class="form-group">
              <button type="button" class="btn btn-primary dmx-valsel">choose Value</button>
          </div>
          <div class="form-group">
            <label>Duration (ms)</label>
            <input type="number" class="form-control dmx-duration" value="<%= duration %>">
          </div>
        </form>
        <label class="item-inline-form">
          <% if(blocking){ %>
            <input type="checkbox" class="blocking" checked="checked" >
          <% } else { %>
            <input type="checkbox" class="blocking">
          <% } %>
          blocking
        </label>
      </li>
    </script>

    <script id="item-tpl-audio" type="text/template">
      <li class="list-group-item item-audio">
        <h4 class="list-group-item-heading">
          Audio
          <input type="text" class="item-desc" value="<%= name %>">
          <div class="item-menu">
            <button type="button" class="btn btn-danger btn-xs item-delete" title="Delete Item">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-primary btn-xs item-test-single" title="Test single Item">
              <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-primary btn-xs item-sort-icon" title="move up or down">
              <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
            </button>
          </div>
        </h4>
        <div class="form-group">
          <label>File</label>
          <select class="form-control item-inline-form-bottom audio-file">
            <% for(var i=0; i<files.length; i++) { %>
              <% if(files[i] == file){ %>
                <option selected="selected"><%= files[i] %></option>
              <% } else { %>
                <option><%= files[i] %></option>
              <% } %>
            <% } %>
          </select>
          <label>Sink</label>
          <select class="form-control item-inline-form-bottom audio-sink">
            <% for(var i=0; i<sinks.length; i++) { %>
              <% if(sinks[i].id == sink){ %>
                <option value="<%= sinks[i].id %>" selected="selected"><%= sinks[i].name %></option>
              <% } else { %>
                <option value="<%= sinks[i].id %>"><%= sinks[i].name %></option>
              <% } %>
            <% } %>
          </select>
          <label class="item-inline-form">
            <% if(blocking){ %>
              <input type="checkbox" class="blocking" checked="checked" >
            <% } else { %>
              <input type="checkbox" class="blocking">
            <% } %>
            blocking
          </label>
        </div>
      </li>
    </script>

    <script id="item-tpl-video" type="text/template">
      <li class="list-group-item item-video">
        <h4 class="list-group-item-heading">
          Video
          <input type="text" class="item-desc" value="<%= name %>">
          <div class="item-menu">
            <button type="button" class="btn btn-danger btn-xs item-delete" title="Delete Item">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-primary btn-xs item-test-single" title="Test single Item">
              <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-primary btn-xs item-sort-icon" title="move up or down">
              <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
            </button>
          </div>
        </h4>
        <div class="form-group">
          <label>File</label>
          <select class="form-control item-inline-form-bottom video-file">
            <% for(var i=0; i<files.length; i++) { %>
              <% if(files[i] == file){ %>
                <option selected="selected"><%= files[i] %></option>
              <% } else { %>
                <option><%= files[i] %></option>
              <% } %>
            <% } %>
          </select>
          <label class="item-inline-form">
            <% if(blocking){ %>
              <input type="checkbox" class="blocking" checked="checked" >
            <% } else { %>
              <input type="checkbox" class="blocking">
            <% } %>
            blocking
          </label>
        </div>
      </li>
    </script>

    <script id="item-tpl-delay" type="text/template">
      <li class="list-group-item item-delay">
        <h4 class="list-group-item-heading">
          Delay
          <input type="text" class="item-desc" value="<%= name %>">
          <div class="item-menu">
            <button type="button" class="btn btn-danger btn-xs item-delete" title="Delete Item">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-primary btn-xs item-test-single" title="Test single Item">
              <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-primary btn-xs item-sort-icon" title="move up or down">
              <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
            </button>
          </div>
        </h4>
        <div class="form-group">
          <label>Duration (ms)</label>
          <input type="number" class="form-control item-inline-form-bottom delay-duration" value="<%= duration %>">
        </div>
      </li>
    </script>

    <script id="item-tpl-script" type="text/template">
      <li class="list-group-item item-script">
        <h4 class="list-group-item-heading">
          Script
          <input type="text" class="item-desc" value="<%= name %>">
          <div class="item-menu">
            <button type="button" class="btn btn-danger btn-xs item-delete" title="Delete Item">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-primary btn-xs item-test-single" title="Test single Item">
              <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
            </button>
            <button type="button" class="btn btn-primary btn-xs item-sort-icon" title="move up or down">
              <span class="glyphicon glyphicon-move" aria-hidden="true"></span>
            </button>
          </div>
        </h4>
        <div class="form-group">
          <label>Path or Command</label>
          <input type="text" class="form-control item-inline-form-bottom script-cmd" value="<%= cmd %>">
          <label class="item-inline-form">
            <% if(blocking){ %>
              <input type="checkbox" class="blocking" checked="checked" >
            <% } else { %>
              <input type="checkbox" class="blocking">
            <% } %>
            blocking
          </label>
        </div>
      </li>
    </script>


  </body>
</html>
