body {
  padding-top: 70px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.header-status {
  color:rgb(10, 180, 52);
  font-size: 80%
}

.top-nodeinfo {
  color: white !important;
  top: 50px;
}

.dragarea-enter, .dragarea-exit {
  margin-top: 10px;
}

.list-group {
}

.lifx-inline-form {
  margin-top: 10px;
}
.item-inline-form-bottom {
  margin-bottom: 10px;
}
.list-group > li {
    border:1px solid;
  border-color: #ccc ! important;
  box-shadow: inset 0 3px 5px rgba(0,0,0,.125);

  background: rgb(254, 254, 254)
}
/*.list-group > li:hover {
  background: rgb(237, 237, 237)
}*/

.bar {
  width: 800px;
}
.bar-title {
  font-weight: bold;
}


input.item-desc {
  border:none;
  color: gray;
}
input.item-desc:focus {
  border:none;
  outline: 0;
}


.inline-small {
  width:50px;
}

.tabarea {
  margin-top:20px;
}

.bg-tab {
  margin-top: 15px;
}


.item-menu {
  float: right
}


.btn-notrunning {
  cursor: inherit;
}

.btn-stopsketch{
  display: none;
}


.sel-inline {
  display: inline;
}
.sel-lifix-fix {
  margin-top: 9px !important;
}
.script-cmd {
  min-width: 300px;
}




.liitemgw {
  margin: 0;
  margin-bottom:0;
  border: 1px solid  #e6e6e6;
  border-bottom: none;
  padding: 6px;
  font-weight: bold;
  font-size: 1.2em;
}

.lamp{
  padding: 6px;
}
.lampcname {
  color: rgb(157, 157, 157);
}
.liitemgw-item:nth-of-type(even){
  background-color: #f9f9f9;
}

.liitemgw:first-child{
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.liitemgw:last-child{
  border-bottom: 1px solid  #e6e6e6;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.liitemgw-title {
  font-weight: bold;
  padding: 6px;
  border: none;
}

.lamp-items {
  margin-top: 30px;
}

.lamp-detail {
  font-size: 12px;
  font-weight: normal;
  padding: 12px;
  display: none;
}
.bulb-lx-status {
  color: rgb(170, 1, 1);
}
.bulb-lx-status.active {
   color: rgb(19, 170, 1);
 }
